# IDEs
.vs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Binary Files
plugin-dev/Binaries/*

# Compiled source files for the engine to use
plugin-dev/Intermediate/*

# plugin-dev link
**/Plugins/sentry

# Other
.DS_Store

# Ignore package release
package-release-github/
package-release-marketplace/
sentry-unreal-*.zip

# Prebuilt libraries & artifacts are collected in CI.
# Note: cannot use wildcard because then we couldn't white-list .gitkeep
plugin-dev/Source/ThirdParty/Android
plugin-dev/Source/ThirdParty/IOS
plugin-dev/Source/ThirdParty/Linux
plugin-dev/Source/ThirdParty/LinuxArm64
plugin-dev/Source/ThirdParty/Mac
plugin-dev/Source/ThirdParty/Win64
plugin-dev/Source/ThirdParty/CLI/*
!plugin-dev/Source/ThirdParty/.gitkeep
!plugin-dev/Source/ThirdParty/CLI/.gitkeep

# Sample
sample/.sentry-native
sample/.vsconfig
sample/SentryPlayground.uproject.DotSettings.user

# Visual Studio solution file from building Sentry Native
*.sln
