# IDEs
.vs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Binary Files
plugin-dev/Binaries/*

# Compiled source files for the engine to use
plugin-dev/Intermediate/*

# plugin-dev link
**/Plugins/sentry

# Other
.DS_Store

# Ignore package release
package-release/
sentry-unreal-*.zip

# Prebuilt libraries & artifacts are collected in CI
plugin-dev/Source/ThirdParty
