on:
  workflow_call:
    inputs:
      unreal-version:
        required: true
        type: string

jobs:
  integration-test:
    name: Integration Test
    runs-on: ubuntu-latest

    env:
      SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      GITHUB_TOKEN: ${{ github.token }}
      SAUCE_REGION: eu-central-1

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download sample build
        uses: actions/download-artifact@v4
        with:
          name: UE ${{ inputs.unreal-version }} sample build (Android)
          path: sample-build

      - name: Install Pester
        shell: pwsh
        run: Install-Module -Name Pester -Force -SkipPublisherCheck

      - name: Run integration tests
        id: run-integration-tests
        shell: pwsh
        env:
          SENTRY_UNREAL_TEST_DSN: ${{ secrets.SENTRY_UNREAL_TEST_DSN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_API_TOKEN }}
          SENTRY_UNREAL_TEST_APP_PATH: ${{ github.workspace }}/sample-build/SentryPlayground-arm64.apk
          UNREAL_VERSION: ${{ inputs.unreal-version }}
        run: |
          cd integration-test
          mkdir build
          cmake -B build -S .
          Invoke-Pester Integration.Tests.Android.SauceLabs.ps1 -CI

      - name: Upload integration test output
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: UE ${{ inputs.unreal-version }} integration test output (Android)
          path: |
            integration-test/output/
          retention-days: 14