on:
  workflow_call:
    inputs:
      runsOn:
        required: true
        type: string
      target:
        required: true
        type: string
      container:
        required: false
        type: string

jobs:
  build:
    runs-on: ${{ inputs.runsOn }}
    container:
      image: ${{ inputs.container }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - name: Configure env for Linux docker containers
        if: ${{ inputs.target == 'Linux' || inputs.target == 'LinuxArm64' }}
        run: |
          apt-get update
          apt-get -y install sudo
          apt-get -y install wget
          apt-get -y install cmake
          apt-get -y install software-properties-common
          apt-get -y install git
          git config --global --add safe.directory $(pwd)

      - uses: actions/checkout@v4

      - name: Select submodule
        id: env
        run: |
          if [[ "${{ inputs.target }}" == "Android" ]]; then
            submodule="modules/sentry-java"
          else
            submodule="modules/sentry-native"
          fi
          echo "submodule=$submodule" >> $GITHUB_OUTPUT
          echo "path=plugin-dev/Source/ThirdParty/${{ inputs.target }}" >> $GITHUB_OUTPUT
          echo "buildScript=scripts/build-$(echo '${{ inputs.target }}' | tr '[:upper:]' '[:lower:]').sh" >> $GITHUB_OUTPUT

      - name: Get submodule status
        run: |          
          git submodule status --cached ${{ steps.env.outputs.submodule }} | tee submodule-status

      - uses: actions/cache@v4
        id: cache
        with:
          path: |
            ${{ steps.env.outputs.path }}
          key: sdk=${{ inputs.target }}-${{ hashFiles('submodule-status', 'scripts/build-*.sh', '.github/workflows/sdk-build.yml') }}

      - name: Install Linux/LinuxArm64 Dependencies
        if: ${{ (inputs.target == 'Linux' || inputs.target == 'LinuxArm64') && steps.cache.outputs.cache-hit != 'true' }}
        run: |
          sudo apt-get update
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 13
          sudo ./llvm.sh 16
          sudo apt-get -y install libc++-16-dev libc++abi-16-dev libstdc++-11-dev zlib1g-dev libcurl4-openssl-dev

      - name: Install Windows Dependencies
        if: ${{ (inputs.target == 'Win64-Crashpad' || inputs.target == 'Win64-Breakpad') && steps.cache.outputs.cache-hit != 'true' }}
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri 'https://aka.ms/vs/16/release/vs_buildtools.exe' -OutFile 'vs_buildtools.exe'
          Start-Process -Wait -FilePath './vs_buildtools.exe' -ArgumentList '--quiet', '--wait', '--add', 'Microsoft.VisualStudio.Workload.VCTools', '--add', 'Microsoft.VisualStudio.Component.VC.Tools.x86.x64', '--add', 'Microsoft.VisualStudio.Component.Windows10SDK.19041'

      - uses: actions/setup-java@v4
        if: ${{ inputs.target == 'Android' }}
        with:
          distribution: temurin
          java-version: 17

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          git submodule update --init --recursive ${{ steps.env.outputs.submodule }}
          mkdir -p '${{ steps.env.outputs.path }}'
          ${{ steps.env.outputs.buildScript }} '${{ steps.env.outputs.submodule }}' '${{ steps.env.outputs.path }}'

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.target }}-sdk
          path: ${{ steps.env.outputs.path }}
          retention-days: ${{ github.ref_name == 'main' && 14 || 1 }}
