on:
  workflow_call:
    inputs:
      runsOn:
        required: true
        type: string
      target:
        required: true
        type: string

jobs:
  download:
    runs-on: ${{ inputs.runsOn }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v2

      - name: Select properties file
        id: env
        env:
          TARGET: ${{ inputs.target }}
        run: |
          if [[ "$TARGET" == "IOS" || "$TARGET" == "Mac" ]]; then
            echo "cacheLocation=modules/sentry-cocoa" >> $GITHUB_OUTPUT
            echo "propertiesFile=modules/sentry-cocoa.properties"  >> $GITHUB_OUTPUT
            echo "downloadScript=scripts/download-cocoa.sh" >> $GITHUB_OUTPUT
          fi
          echo "path=plugin-dev/Source/ThirdParty/$TARGET" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: cache
        with:
          path: |
            ${{ steps.env.outputs.path }}
          key: sdk=${{ inputs.target }}-${{ hashFiles(steps.env.outputs.propertiesFile, 'scripts/download-*.sh', '.github/workflows/sdk-download.yml') }}

      - name: Download
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          DOWNLOAD_PATH: ${{ steps.env.outputs.path }}
          DOWNLOAD_SCRIPT: ${{ steps.env.outputs.downloadScript }}
          CACHE_LOCATION: ${{ steps.env.outputs.cacheLocation }}
        run: |
          mkdir -p "$DOWNLOAD_PATH"
          "$DOWNLOAD_SCRIPT" "$CACHE_LOCATION" "$DOWNLOAD_PATH"

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.target }}-sdk
          path: ${{ steps.env.outputs.path }}
          retention-days: ${{ github.ref_name == 'main' && 14 || 1 }}
