name: update-dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main

jobs:
  native:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: modules/sentry-native
      name: Native SDK
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  java:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: modules/sentry-java
      name: Java SDK (Android)
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  cocoa:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: modules/sentry-cocoa.properties
      name: Cocoa SDK (iOS and Mac)
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  cli:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: plugin-dev/sentry-cli.properties
      name: CLI
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}